html,
body,
main {
  height: 100%;
  /*background-color:rgb(169, 164, 181);*/
}

::-moz-selection {
  background: #34495e;
  color: #fff;
}

::selection {
  /*background: #34495e;*/
  color: #fff;
}

.jumbotron1 {
  padding-top: 150px;
  margin-bottom: 0;
  background-color: #73ADE8;
}
.jumbotron2 {
  padding-top: 150px;
  margin-bottom: 0;
  background-color: #a07dc4;
}

.jumbotron3 {
  padding-top: 150px;
  margin-bottom: 0;
  background-color: #7e57a6;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photo-cover {
  background:gray url(homebg.gif) no-repeat center center/cover fixed;
  height: 100%;
  position: relative;
}

.background-primary {
  background: #7c8e9f;
}

.background-secondary {
  background: #819fbe;
}

.large {
  font-size: 4em;
}

.medium {
  font-size: 2em;
}

/* Header */
.transparent {
  background: transparent;
}

.navbar-inverse {
  transition: all 0.2s ease-in;
  background-color: transparent;
}

.thumbnail {
  cursor: pointer;
  position: relative;
  display: flex;
}

.thumbnail-svg {
  flex: 1 0 auto;
  padding: 0.5em;
  max-height: 6em;
}

.thumbnail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1abc9c;
  opacity: 0;
  transition: all 0.2s ease-in;
}

.thumbnail:hover .thumbnail-overlay {
  opacity: 1;
  transition: all 0.2s ease-in;
}

.full-screen {
  background: #eee;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  overflow-y: scroll;
}

.close-window {
  cursor: pointer;
}

#wrapper {
    width: 100%;
    height: 400px;
    position: relative;
    
  }
  
  #graph {
    height: 100%;
    width: 70%;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left:0;
  }
  
  #info {
    width: 30%;
    height: 100%;
    background-color: red;
    margin: 0px;
    padding: 0px;
    position: absolute;
    right:0;
  }
  
  
  
  #react_SVG {
    background-color: blue;
  }
  
  #information {
      background-color: red;
      width: 28%;
      height: 400px;
      display: inline-block;
      position: absolute;
      margin-left: 5px;
      text-align:center;
    
  }
  #network {
    width: 100%;
    height: 400px; /* Adjust height as necessary for mobile */
    margin-top: 20px;
}
/*  COLORS
========================================== */
/*  FONTS
========================================== */
/*  MIXINS
========================================== */
/*  RESET
========================================== */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.overflow {
  overflow: hidden;
}

/*  BURGER
========================================== */
.burger {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 4px;
  z-index: 10;
}
.burger span {
  position: relative;
  margin-top: 9px;
  margin-bottom: 9px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -1.5px;
}
.burger span, .burger span::before, .burger span::after {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #b9b5b5;
  outline: 1px solid transparent;
  -webkit-transition-property: background-color, -webkit-transform;
  -moz-transition-property: background-color, -moz-transform;
  -o-transition-property: background-color, -o-transform;
  transition-property: background-color, transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.burger span::before, .burger span::after {
  position: absolute;
  content: "";
}
.burger span::before {
  top: -9px;
}
.burger span::after {
  top: 9px;
}
.burger.clicked span {
  background-color: transparent;
}
.burger.clicked span::before {
  -webkit-transform: translateY(9px) rotate(45deg);
  -moz-transform: translateY(9px) rotate(45deg);
  -ms-transform: translateY(9px) rotate(45deg);
  -o-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg);
}
.burger.clicked span::after {
  -webkit-transform: translateY(-9px) rotate(-45deg);
  -moz-transform: translateY(-9px) rotate(-45deg);
  -ms-transform: translateY(-9px) rotate(-45deg);
  -o-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg);
}
.burger.clicked span:before, .burger.clicked span:after {
  background-color: #ffffff;
}
.burger:hover {
  cursor: pointer;
}

/*  NAV
========================================== */
nav {
  background-color: #2a2a2a;
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 515px;
  width: 100%;
  padding: 100px 40px 60px 40px;
  overflow-y: auto;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
nav.show {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
nav.show ul.main li {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}
nav.show ul.main li:nth-child(1) {
  transition-delay: 0.15s;
}
nav.show ul.main li:nth-child(2) {
  transition-delay: 0.3s;
}
nav.show ul.main li:nth-child(3) {
  transition-delay: 0.45s;
}
nav.show ul.main li:nth-child(4) {
  transition-delay: 0.6s;
}
nav.show ul.main li:nth-child(5) {
  transition-delay: 0.75s;
}
nav.show ul.main li:nth-child(6) {
  transition-delay: 0.9s;
}
nav.show ul.main li:nth-child(7) {
  transition-delay: 1.05s;
}
nav.show ul.main li:nth-child(8) {
  transition-delay: 1.2s;
}
nav.show ul.main li:nth-child(9) {
  transition-delay: 1.35s;
}
nav.show .about, nav.show .social, nav.show ul.sub {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  transition-delay: 0.85s;
}
@media (min-width: 667px) {
  nav {
    padding: 120px 90px 70px 90px;
  }
}
nav ul.main {
  list-style-type: none;
}
nav ul.main li {
  margin-bottom: 20px;
  -webkit-transform: translateX(40px);
  -moz-transform: translateX(40px);
  -ms-transform: translateX(40px);
  -o-transform: translateX(40px);
  transform: translateX(40px);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav ul.main li:last-of-type {
  margin-bottom: 0px;
}
nav ul.main li a {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  display: block;
  letter-spacing: 5px;
  font-weight: 600;
  padding: 10px 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav ul.main li a span {
  color: #648adb;
}
nav ul.main li a:hover {
  color: #9262b5;
}
nav .about {
  margin-top: 40px;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
nav .about p {
  color: #ffffff;
  font-family: "Spectral", serif;
  font-size: 1.05rem;
  letter-spacing: 0.5px;
  line-height: 170%;
}
nav .social {
  margin-top: 40px;
  position: relative;
  padding-bottom: 30px;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
nav .social:after {
  content: "";
  width: 230px;
  height: 2px;
  background-color: #9262b5;
  position: absolute;
  bottom: 0;
  left: 0;
}
nav .social a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 25px;
}
nav .social a:last-of-type {
  margin-right: 0px;
}
nav .social a:hover svg path, nav .social a:hover svg circle {
  fill: #b7ac7f;
}
nav .social a svg {
  width: 100%;
  height: 100%;
}
nav .social a svg path, nav .social a svg circle {
  fill: #ffffff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav ul.sub {
  list-style-type: none;
  margin-top: 40px;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
nav ul.sub li {
  margin-bottom: 10px;
}
nav ul.sub li:last-of-type {
  margin-bottom: 0px;
}
nav ul.sub li a {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  font-size: 0.9rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav ul.sub li a:hover {
  color: #b7ac7f;
}

/*  OVERLAY
========================================== */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #6662b575;
  opacity: 0;
  visibility: hidden;
}
.overlay.show {
  opacity: 0.8;
  visibility: visible;
}
html, body {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
  touch-action: manipulation; /* Disable double-tap zoom on touch devices */
}

input[type="email"], textarea {
  width: 100%; /* Full width for smaller screens */
  min-height: 44px; /* Larger tap targets for touch devices */
}
#network-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw;  /* Full viewport width */
  position: relative;
}

#network {
  width: 800px;   /* Adjust width as needed */
  height: 600px;  /* Adjust height as needed */
  background-color: transparent; /* Optional background color */
}
body.modal-open {
  overflow: auto !important;
}


/* Utilities */
.auto-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size, 14rem), 1fr)
  );
  grid-gap: var(--auto-grid-gap, 0);
  padding: 0;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* Composition */
.team {
  --flow-space: 2em;
}

/* Blocks */
.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  aspect-ratio: 1/1;
  position: relative;
  padding: 1.5rem;
  color: #ffffff;
  backface-visibility: hidden;
  text-decoration: none;
  overflow: hidden;
}

.profile::before,
.profile::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  /*inset: 0;*/
  top: 0;
  left: 0;
}

.profile::before {
  background: linear-gradient(
    to top,
    hsl(0 0% 0% / 0.79) 0%,
    hsl(0 0% 0% / 0.787) 7.8%,
    hsl(0 0% 0% / 0.779) 14.4%,
    hsl(0 0% 0% / 0.765) 20.2%,
    hsl(0 0% 0% / 0.744) 25.3%,
    hsl(0 0% 0% / 0.717) 29.9%,
    hsl(0 0% 0% / 0.683) 34.3%,
    hsl(0 0% 0% / 0.641) 38.7%,
    hsl(0 0% 0% / 0.592) 43.3%,
    hsl(0 0% 0% / 0.534) 48.4%,
    hsl(0 0% 0% / 0.468) 54.1%,
    hsl(0 0% 0% / 0.393) 60.6%,
    hsl(0 0% 0% / 0.31) 68.3%,
    hsl(0 0% 0% / 0.216) 77.3%,
    hsl(0 0% 0% / 0.113) 87.7%,
    hsl(0 0% 0% / 0) 100%
  );
  transition: 300ms opacity linear;
}

.profile::after {
  background: linear-gradient(
    45deg,
    hsl(5 97% 63% / 0.7) 0,
    hsl(5 97% 63% / 0) 100%
  );
  opacity: 0;
  transition: 300ms opacity linear;
}

.profile > * {
  z-index: 1;
}

.profile img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
  object-fit: cover;
  filter: grayscale(1);
  transition: filter 200ms ease, transform 250ms linear;
}

.profile h2,
.profile p {
  transform: translateY(2ex);
}

.profile h2 {
  font-size: 1.7rem;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.03ch;
  transition: 300ms transform ease;
}

.profile p {
  font-size: 1.2rem;
  font-weight: 500;
}

.profile p {
  opacity: 0;
  transition: 300ms opacity linear, 300ms transform ease-in-out;
}

.profile:focus {
  outline: 0.5rem solid white;
  outline-offset: -0.5rem;
}

.profile:hover :is(h2, p),
.profile:focus :is(h2, p) {
  transform: none;
}

.profile:hover::after,
.profile:focus::after,
.profile:hover::before,
.profile:focus::before {
  opacity: 0.7;
}

.profile:hover p,
.profile:focus p {
  opacity: 1;
  transition-delay: 200ms;
}

.profile:hover img,
.profile:focus img {
  filter: grayscale(0);
  transform: scale(1.05) rotate(1deg);
}

